node{ 
	fill-color: #F5F575;
	size: 30px;
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 15px;
	fill-mode: dyn-plain; 
	size-mode: fit;
	text-mode: normal;
	text-visibility-mode: normal;
}

edge{
	fill-color:blue;
	
}

node.selected{
		size: 60px;
}

node.unselected{
	size:30px;
}

node.partition50{
	fill-color: #F5DF6B;
	
}

node.partition150{
	fill-color: #F5C962;
	
}

node.partition500{
	fill-color: #F6B359;
	
}

node.partition1000{
	fill-color: #F69D50;
	
}

node.partition5000{
	fill-color: #F78747;
	
}

node.partition10000{
	fill-color: #F85C34;
	
}

node.partition50000{
	fill-color: #F93022;
	
}

node.partition300000{
	fill-color: #F91A19;
	
}

node.partition1000000{
	fill-color: #FA0510;
	
}

node.partition3000000{
	fill-color: #AA030B;
	
}
node.highlighted{
	fill-color: #22B7F1;	
	
}